click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
joblib==1.4.0
kiwisolver==1.4.5
matplotlib==3.8.4
nltk==3.8.1
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.4.16
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
six==1.16.0
threadpoolctl==3.4.0
tqdm==4.66.2
tzdata==2024.1
wordcloud==1.9.3
xgboost==2.0.3
